input.ng-invalid.ng-touched {
    border: solid 1px red;
}

.btn {
    margin-right: 5px;
}

.avatar {
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    margin-inline-start: 20px;
    border: solid 3px white;

}

.avatar:hover {
    border: solid 3px orange;
}

#selected {
    height: 200px;
    width: 200px;
}