<div class="row my-2">
  <div class="col-lg-8 order-lg-2">
    <div class="tab-content py-4">
      <div class="tab-pane active">
        <h4 class="mb-3">User Profile</h4>
        <div class="row">
          <div class="col-md-6">
            <h6>About</h6>
            <p>{{ currentUser.fname }} {{ currentUser.lname }}</p>
            <h6>Location</h6>
            <p>{{ currentUser.city }}, {{ currentUser.state }}</p>
          </div>
        </div>
        <button (click)="onAddFriend()" class="btn btn-primary" *ngIf="currentUser.uid !== activeUser.uid">
            Add Friend
        </button>
        <div class="row" *ngIf="currentUser.uid === activeUser.uid">
          <div class="col-md-12">
            <h4>Requests</h4>
            <ul class="list-group" *ngIf="currentUser.requests">
              <li 
                style="cursor: pointer;"
                class="list-group-item" 
                *ngFor="let request of currentUser.requests; let i = index" 
              > 
                {{ getUserName(request) }}
                <button (click)="onAcceptRequest(request, i)">Accept</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Friends</h4>
            <ul class="list-group" *ngIf="currentUser.friends">
              <li 
                style="cursor: pointer;"
                class="list-group-item" 
                *ngFor="let friend of currentUser.friends" 
              > 
                {{ getUserName(friend) }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 order-lg-1 text-center">
    <img [src]="currentUser.img" class="mx-auto img-fluid img-circle d-block" alt="avatar">
    <h6 class="mt-2">{{ currentUser.fname }}</h6>
  </div>
</div>
