#acceptRequest {
    margin-right: 20px;
    margin-left: -10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    background-color: rgb(7, 7, 247);
    color: white;
    display: inline-block;
    padding-top: 6.5px;
}

#acceptRequest:hover {
    background-color: rgb(7, 7, 209);
}
.list-group-item {
    border: solid 1px white;
}