.accept {
  margin-right: 10px;
  margin-left: -5px;
}

#addFriend {
    margin-top: 15px;
}

.my-list-item {
    border: solid 1px white;
    background: lightcyan;
}

.list-group-item {
    margin-bottom: 10px;
}